<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Some of our popular extensions for Visual Studio 2013 and 2015</h3>
                <h1>Tag Admin | <a href="https://visualstudiogallery.msdn.microsoft.com/c1bf5e4f-5436-465d-87da-09b2f15ff061" target="_blank" class="btn btn-theme">Team Rooms</a> | <a href="https://visualstudiogallery.msdn.microsoft.com/6c4d14c3-e66f-40d0-8d77-ff7883a40f6a" target="_blank" class="btn btn-theme">News</a> </h1>
				<h5>All our extensions are free!</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/home_logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->