<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Some of our popular extensions for Visual Studio 2013 and 2015</h3>
                <h1><a href="https://visualstudiogallery.msdn.microsoft.com/057740ff-86be-4a44-b2bb-7e6d68b75455" target="_blank" class="btn btn-theme">Tag Admin</a> | <a href="https://visualstudiogallery.msdn.microsoft.com/c1bf5e4f-5436-465d-87da-09b2f15ff061" target="_blank" class="btn btn-theme">Team Rooms</a> | <a href="https://visualstudiogallery.msdn.microsoft.com/6c4d14c3-e66f-40d0-8d77-ff7883a40f6a" target="_blank" class="btn btn-theme">News</a> </h1>
				<h5>All our extensions are free!</h5>
				<p>
				<a href="https://twitter.com/onlyutkarsh" class="twitter-follow-button" data-show-count="true" data-size="medium">Follow @onlyutkarsh</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/arora_tarun" class="twitter-follow-button" data-show-count="true" data-size="medium">Follow @arora_tarun</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/home_logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
