<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for product in site.categories['product'] %}
                <! -- Project Post -->
				<a href="{{ product.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ product.title }}</h3></a>
                <a href="{{ product.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/product/" | prepend: site.baseurl }}{{ project.img }}">
                </a>    
                <!-- <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p> -->
                {{ product.excerpt }}
                <p><a href="{{ product.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->